header{
background-color: #C47BE4;
color: #540863;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;

}
main{
background-color:#FFF7EB ;
color: #831C91;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
article{
    display: flex;
    flex-direction: column;
}
artigo-autor{
    font-weight: bold;
    color: #831C91;
}
